body {
  max-width: 600px;
  margin:0;
  overflow:hidden;
  }

@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_typography.scss";
@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_variables.scss";
@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_header.scss";
@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_bodycopy.scss";
