
@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_variables.scss";

.hero-section {
    width:600px;
    height:min-content;
    img {
        display: block;
    }
}
.introduction {
    height:400px;
            > img {
            display: block;
            position: absolute;
        }
}
.bodycopy {
    height:100%;
        padding: 50px 0;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items:center;
        position:relative;
        }
        p {
            padding-top:30px;
            position:relative;
            text-align:center;
            font-family: $font-text;
            color:$color-font-brown;
        }
.subheading {
    text-transform: uppercase;
            color:#fff;
            margin:0;
            padding: 0 0 1vh 0;
            position:relative;
            font-family: $font-headings;
}
