@font-face {
    font-family: 'Knockout Junior';
    src: url('../../assets/fonts/knockout/Knockout-HTF31-JuniorMiddlewt.eot');
    src: url('../../assets/fonts/knockout/Knockout-HTF31-JuniorMiddlewt.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/knockout/Knockout-HTF31-JuniorMiddlewt.woff2') format('woff2'),
        url('../../assets/fonts/knockout/Knockout-HTF31-JuniorMiddlewt.woff') format('woff'),
        url('../../assets/fonts/knockout/Knockout-HTF31-JuniorMiddlewt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout Bantam';
    src: url('../../assets/fonts/knockout/Knockout-HTF47-Bantamweight.eot');
    src: url('../../assets/fonts/knockout/Knockout-HTF47-Bantamweight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/knockout/Knockout-HTF47-Bantamweight.woff2') format('woff2'),
        url('../../assets/fonts/knockout/Knockout-HTF47-Bantamweight.woff') format('woff'),
        url('../../assets/fonts/knockout/Knockout-HTF47-Bantamweight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout Welter';
    src: url('../../assets/fonts/knockout/Knockout-HTF50-Welterweight.eot');
    src: url('../../assets/fonts/knockout/Knockout-HTF50-Welterweight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/knockout/Knockout-HTF50-Welterweight.woff2') format('woff2'),
        url('../../assets/fonts/knockout/Knockout-HTF50-Welterweight.woff') format('woff'),
        url('../../assets/fonts/knockout/Knockout-HTF50-Welterweight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

