@import "/Users/Jen/Desktop/wolverine/merrell/sass/elements/_typography.scss";

$color-brand-orange: #ff5000;
$color-yellow: #f9d300;
$color-font-brown: #483a37;

$font-headings: 'Knockout Welter';
$font-text: 'Knockout Junior';

